<script type="x/template" id="vue-last-seen-item-list">
    <div v-if="items.length">
        <div class="row text-center m-b-1">
            <div class="col-xs-12">
                <div class="h4 p-t-1"><span class="text-double alex">Zuletzt angesehen</span></div>
            </div>
        </div>
        <div class="row text-center m-b-3">
            <div class="col-xs-12">
                <div class="row">
                    <container-item-list :items="items" :items-per-page="itemsPerPage"></container-item-list>
                </div>
            </div>
        </div>
    </div>
</script>
