{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set homepageNewTitleDE = 'NEU' %}
{% set homepageNewTitleEN = 'NEW' %}
{% set homepageNewId = 481 %}

{% set homepageTopsellerTitleDE = 'TOP' %}
{% set homepageTopsellerTitleEN = 'TOP' %}
{% set homepageTopsellerId = 533 %}

{% set paginatedResultNew      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId': homepageNewId, 'page':1, 'items':6, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}) %}
{% set paginatedResultTop      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId': homepageTopsellerId, 'page':1, 'items':6, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}) %}

{% set itemListNew             = paginatedResultNew.documents %}
{% set itemListTop             = paginatedResultTop.documents %}

{% block PageBody %}

<div class="row m-b-3 m-x-5">
	<div class="col-12 col-lg-6 p-t-1 p-x-5">
		<a href="/trachtenhersteller-trachtenshop-und-dirndlshop/krueger-collection/?ItemSorting=9" title="Krüger Collection Spezial">
			<div class="box">
				<div class="main-teaser">
					<div class="bg-img bg-img-1"></div>
					<div class="h2">Krüger Collection Spezial</div>
					<div class="h3"><p>Zum Krüger Collection Shop</p></div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-lg-6 p-t-1 p-x-5">
		<a href="/herren/lederhosen/?ItemSorting=9" title="Trends 2018 Lederhosen">
			<div class="box">
				<div class="main-teaser">
					<div class="bg-img bg-img-2"></div>
					<div class="h2">Trends 2018 Lederhosen</div>
					<div class="h3"><p>Jetzt Lederhosen Shoppen</p></div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-lg-6 p-t-1 p-x-5">
		<a href="/trachtenhersteller-trachtenshop-und-dirndlshop/marjo-trachten-shop/?ItemSorting=9" title="Marjo Trachten 2018">
			<div class="box">
				<div class="main-teaser">
					<div class="bg-img bg-img-3"></div>
					<div class="h2">Marjo Trachten 2018</div>
					<div class="h3"><p>Zum MarJo Trachten Shop</p></div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-12 col-lg-6 p-t-1 p-x-5">
		<div class="box">
			<div class="main-teaser">
				<div class="bg-img bg-img-4"></div>
				<a href="/trachtensale-guenstige-dirndl/damen/" class="link1" title="Sale Damen">&nbsp;</a>
				<a href="/trachtensale-guenstige-dirndl/herren/" class="link2" title="Sale Herren">&nbsp;</a>
			</div>
		</div>
	</div>
</div>

<div id="shipinfo" class="bg-info m-b-2">
	<div class="container-max">
		<div class="row text-center">
			<div class="col-xs-12">
                <div class="h3 text-uppercase text-center p-y-2 m-y-0">
					<i class="fa fa-truck m-r-1 text-large"></i>
					<strong class="text-primary">90%</strong> aller Bestellungen werden innerhalb von <strong class="text-primary">24 bis 48 Stunden</strong> zugestellt!
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-max">
	<div class="row text-center m-b-1">
        <div class="col-xs-12">
            <div class="h3 p-t-1"><span class="text-double alex">Traumhafte Outfits für Sie</span></div>
        </div>
	</div>
    <div class="row text-center text-uppercase m-b-2">
        <div class="col-md-4 m-b-2">
            <ul class="suggestions">
                <li class="w-100 h4 m-b-2"><a href="/damen/dirndl/" title="Dirndl">Dirndl</a></li>
                <li class="w-100 h4 m-b-2"><a href="/damen/blusen/dirndlblusen/" title="Dirndlblusen">Dirndlblusen</a></li>
                <li class="w-100 h4 m-b-2"><a href="/damen/lederhosen/" title="Lederhosen">Lederhosen</a></li>
                <li class="w-100 h4 m-b-2"><a href="/damen/blusen/trachtenblusen/" title="Blusen">Blusen</a></li>
                <li class="w-100 h4 m-b-2"><a href="/damen/jacken/" title="Jacken">Jacken</a></li>
                <li class="w-100 h4 m-b-2"><a href="/schuhe/damenschuhe/" title="Schuhe">Schuhe</a></li>
            </ul>
        </div>
        <div class="col-md-4 m-b-2 teaser">
            <a href="/damen/?multishop_id=0&amp;group%5B0%5D=1&amp;service=selector&amp;Params%5BSearchParam%5D=&amp;count=0&amp;attrib%5Bvendor%5D%5B0%5D=Krüger+Dirndl&amp;first=0">
                <img class="w-100" src="https://www.finest-trachten.info/images/teaser/sie-krueger-dirndl.jpg">
                <div class="h3">Zum Krüger Dirndl Damen Shop</div>
            </a>
        </div>
        <div class="col-md-4 m-b-2 teaser">
            <a href="/damen/?multishop_id=0&amp;group%5B0%5D=1&amp;service=selector&amp;Params%5BSearchParam%5D=&amp;count=0&amp;attrib%5Bvendor%5D%5B0%5D=Almsach&amp;first=0">
                <img class="w-100" src="https://www.finest-trachten.info/images/teaser/sie-almsach.jpg">
                <div class="h3">Zum Almsach Damen Shop</div>
            </a>
        </div>
    </div>
	<div class="row text-center m-b-1">
        <div class="col-xs-12">
            <div class="h3 p-t-1"><span class="text-double alex">Fesche Outfits für Ihn</span></div>
        </div>
	</div>
    <div class="row text-center text-uppercase m-b-1">
		<div class="col-md-4 m-b-2 teaser">
			<a href="/herren/?multishop_id=0&group%5B0%5D=1&service=selector&Params%5BSearchParam%5D=&count=30&attrib%5Bvendor%5D%5B0%5D=Krüger&attrib%5Bvendor%5D%5B1%5D=Krüger+Dirndl&first=0">
		        <img src="/layout/2018/images/er-krueger.jpg" class="w-100">
		        <div class="h3">Zum Krüger Herren Shop</div>
		    </a>
		</div>
		<div class="col-md-4 m-b-2 teaser">
			<a href="/herren/?multishop_id=0&group%5B0%5D=1&service=selector&Params%5BSearchParam%5D=&count=0&attrib%5Bvendor%5D%5B0%5D=Gweih+%26+Silk&first=0">
		        <img src="/layout/2018/images/er-gweih-und-silk.jpg" class="w-100">
		        <div class="h3">Zum Gweih & Silk Herren Shop</div>
		    </a>
		</div>
        <div class="col-md-4 m-b-2">
			<ul class="suggestions">
				<li class="w-100 h4 m-b-2"><a href="/herren/lederhosen/" title="Lederhosen">Lederhosen</a></li>
				<li class="w-100 h4 m-b-2"><a href="/herren/trachtenhemden/" title="Hemden">Hemden</a></li>
				<li class="w-100 h4 m-b-2"><a href="/herren/westen/" title="Westen">Westen</a></li>
				<li class="w-100 h4 m-b-2"><a href="/herren/jacken-und-janker/" title="Jacken">Jacken</a></li>
				<li class="w-100 h4 m-b-2"><a href="/schuhe/herrenschuhe/" title="Schuhe">Schuhe</a></li>
				<li class="w-100 h4 m-b-2"><a href="/herren/trachtenmode-und-fashion/" title="Trachten Fashion">Trachten Fashion</a></li>
			</ul>
        </div>
	</div>
</div>

<div class="m-b-2">
    <h4 class="section-header">
        {% if lang == "de" %}
            {{ homepageNewTitleDE }}
        {% elseif lang == "en" %}
            {{ homepageNewTitleEN }}
        {% endif %}
    </h4>
    <!-- crosssell start -->
    <div class="row">
        <div class="col-xs-12">
            <ul class="product-list row grid">
                {% for item in itemListNew %}
                    <li class="col-xs-12 col-sm-4 col-md-2">
                        {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="m-b-2">
    <h4 class="section-header">
        {% if lang == "de" %}
            {{ homepageTopsellerTitleDE }}
        {% elseif lang == "en" %}
            {{ homepageTopsellerTitleEN }}
        {% endif %}
    </h4>
    <!-- crosssell start -->
    <div class="row">
        <div class="col-xs-12">
           <ul class="product-list row grid">
                {% for item in itemListTop %}
                    <li class="col-xs-12 col-sm-4 col-md-2">
                        {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
