/* Enter your CSS here */

body, body > #vue-app, body > #vue-error, .navbar, .page-content {
    background-color: #fff;
}

.alex {
    font-family: 'Alex Brush', cursive;
}

.w-100 {
	width: 100% !important;
}

.w-75 {
	width: 75% !important;
}

.w-66 {
	width: 66% !important;
}

.w-50 {
	width: 50% !important;
}

.w-33 {
	width: 33% !important;
}

.w-25 {
	width: 25% !important;
}

.w-20 {
	width: 20% !important;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 80%;
}

.text-large {
    font-size: 120%;
}

.text-double {
    font-size: 200%;
}

.b-t-d-1 {
    border-top: 1px dotted #4d4f4d;
}

.b-b-d-1 {
    border-bottom: 1px dotted #4d4f4d;
}

.b-y-d-1 {
    border-top: 1px dotted #4d4f4d;
    border-bottom: 1px dotted #4d4f4d;
}

.btn > .fa {
    float: none;
}

@media (min-width: 992px) {

    .brand-wrapper {
        display: block;
        margin: 0;
        padding: 1rem 0 0.5rem;
        position: relative;
        text-align: center;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }

    .navbar-brand {
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .navbar-brand img {
        max-height: 100%;
        max-width: 100%;
    }

    #mainNavbarCollapsable ul.mainmenu > li > a {
        padding: 1.3rem 1.3rem;
        letter-spacing: 2px;
    }

    .no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover,
    .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li.hover {
        background: #efefef;
        background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    }

    #mainNavbarCollapsable ul.mainmenu li a,
    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a {
        color: #999;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.level1 > a {
        color: #666;
    }

    #mainNavbarCollapsable ul.mainmenu > li.ddown > a:after {
        display: none;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu {
        justify-content: center;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
        border: 1px solid #efefef;
    }
}
