/* Enter your CSS here */

html {
    font-size: 13px;
}

#vue-app {
    margin-top: 90px !important;
}

body, body > #vue-app, body > #vue-error, .navbar, .page-content {
    background-color: #fff;
}

.alex {
    font-family: 'Alex Brush', cursive;
}

.w-100 {
	width: 100% !important;
}

.w-75 {
	width: 75% !important;
}

.w-66 {
	width: 66% !important;
}

.w-50 {
	width: 50% !important;
}

.w-33 {
	width: 33% !important;
}

.w-25 {
	width: 25% !important;
}

.w-20 {
	width: 20% !important;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 80%;
}

.text-large {
    font-size: 120%;
}

.text-double {
    font-size: 200%;
}

.b-t-d-1 {
    border-top: 1px dotted #4d4f4d;
}

.b-b-d-1 {
    border-bottom: 1px dotted #4d4f4d;
}

.b-y-d-1 {
    border-top: 1px dotted #4d4f4d;
    border-bottom: 1px dotted #4d4f4d;
}

.btn > .fa {
    float: none;
}

.box{
	position: relative;
	width: 100%;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.main-teaser {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.main-teaser .link1 {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	width: 50%;
}

.main-teaser .link2 {
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;
	right: 0;
	width: 50%;
}

.main-teaser .h2 {
    bottom: 50%;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 8px;
    left: 5%;
    line-height: 30px;
    margin: 0 0 -40px 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #000;
    width: 90%;
}

.main-teaser .h3 {
    bottom: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 70px;
    left: 0;
    line-height: 20px;
    margin-bottom: -120px;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 2px 3px #000;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
}

.main-teaser .h3 p {
    background: rgba(0,0,0,0.25);
    border: 4px solid #fff;
    line-height: 40px;
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.bg-img {
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-img-1 {
    background-image: url(https://www.finest-trachten.info/images/teaser/krueger-dirndl-1080-1080.jpg);
}
.bg-img-3 {
    background-image: url(https://www.finest-trachten.info/images/teaser/marjo-trachten-1080-1080.jpg);
}
.bg-img-2 {
    background-image: url(https://www.finest-trachten.info/images/teaser/lederhosen-1080-1080.jpg);
}
.bg-img-4 {
    background-image: url(https://www.finest-trachten.info/images/teaser/sale-1080-1080.jpg);
}

.teaser .h3 {
    background: rgba(0,0,0,.25);
    border: 4px solid #fff;
    bottom: 20%;
    color: #fff;
    font-size: 1rem;
    left: 0;
    line-height: 2rem;
    margin: 0 10%;
    padding: 0.5rem 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 2px 3px #000;
    text-transform: uppercase;
    width: 80%;
}

.suggestions {
    margin: 0;
    list-style: none;
    padding: 0;
}

.owl-prev {
    left: 0;
}

.category-description {
    padding: 15px;
    border: 1px solid #efefef;
}

.cmp-search-box {
    top: 28px;
}

#searchBoxDesk {
    display: none;
}

#tendenzer {
    border: 1px solid #690;
    position: relative;
}

#tendenzer, #tendenzer .marker-labels {
    display: block;
    float: left;
    width: 100%;
}

#tendenzer .marker-labels > div {
    display: block;
    float: left;
    font-size: 10px;
    padding: 10px 5px;
    text-align: center;
    width: 33.333%;
}

#tendenzer .marker-labels > div.label-1,
#tendenzer .marker-labels > div.label-3 {
    color: #fff;
    background-color: rgba(0,255,0,.5);
}

#tendenzer .marker-labels > div.label-2 {
    color: #690;
    background-color: rgba(0,255,0,.1);
}

#tendenzer .size-marker {
    color: #333;
    font-size: 16px;
    height: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 38px;
    width: 32px;
    z-index: 10;
}

#tendenzer .size-marker.marker-top {
    top: -10px;
}

@media (min-width: 768px) {

    #vue-app {
        margin-top: 86px !important;
    }

	.main-teaser .h2 {
	    font-size: 42px;
    	letter-spacing: 8px;
	    line-height: 50px;
	    margin: 0 0 -120px 0;
	}

	.main-teaser .h3 {
	    margin: 0 0 -200px 0;
	}

    .owl-thumbs .owl-stage-outer {
        height: auto !important;
    }

    .owl-thumbs .owl-stage {
        width: 100% !important;
    }

    .owl-thumbs .owl-item {
        width: 100% !important;
        margin: 0 0 10px !important;
    }

    .owl-thumbs .owl-thumb {
        height: auto;
        margin: 0;
        padding: 5px;
    }

    .owl-thumbs .owl-stage {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .owl-thumbs .carousel-control {
        display: none !important;
    }
}

@media (min-width: 992px) {

    #vue-app {
        margin-top: 182px !important;
    }

    #mainNavbarCollapsable ul.mainmenu > li > a {
        padding: 1rem 1rem;
        letter-spacing: 1px;
    }

    #searchBoxDesk {
        background: none;
        bottom: 0;
        display: block;
        height: 45px;
        left: auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: auto;
        width: 220px;
    }

    #searchBoxDesk .input-group {
        display: flex;
    }

    #searchBoxDesk .input-group > .form-control {
        display: block;
        flex: 1 1 auto;
        line-height: 1;
        margin: 0;
        padding: 5px 10px;
        position: relative;
        width: 1%;
        -webkit-box-flex: 1;
    }

    #searchBoxDesk .input-group .input-group-append {
        display: flex;
    }

    .brand-wrapper {
        display: block;
        height: 80px;
        margin: 0;
        padding: 1rem 0 0.5rem;
        position: static;
        text-align: center;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }

    .navbar-brand {
        margin: 0;
        padding: 0;
        width: 296px;
    }

    .navbar-brand img {
        max-height: 100%;
        max-width: 100%;
    }

    .no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover,
    .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li.hover {
        background: #efefef;
        background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    }

    #mainNavbarCollapsable ul.mainmenu li a,
    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a {
        color: #999;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.level1 > a {
        color: #666;
    }

    #mainNavbarCollapsable ul.mainmenu > li.ddown > a:after {
        display: none;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu {
        justify-content: flex-start;
    }

    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
        border: 1px solid #efefef;
    }
}
