<footer class="py-4">
	<div class="container">
		<div class="row">
			<div class="col mb-3">
				<div class="h6">Unsere Zahlarten</div>
			</div>
		</div>
		<div class="row">
			<div class="col mb-3">
				<img src="/layout/2018/images/payment-icons/text-vorkasse.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/text-rechnung.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/amazon-payments.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/paypal.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/visa.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/mastercard.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/paymorrow.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/klarna-sofort.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/klarna-rechnung.png" class="w-10 mb-2 pr-2 float-left">
				<img src="/layout/2018/images/payment-icons/klarna-ratenkauf.png" class="w-10 mb-2 pr-2 float-left">
			</div>
		</div>
	</div>
</footer>

<copyright>
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="w-100 my-3 text-center">&copy; 2019 Finest Trachten GbR - All rights reserved.</p>
			</div>
		</div>
	</div>
</copyright>
