<footer class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 mb-5">
                <div class="h5">Finest Apps</div>
                <a class="d-block w-50 mr-auto mb-2" title="Lade die Finest Trachten iOS App bei iTunes" href="https://itunes.apple.com/de/app/finest-trachten/id710530200?mt=8" target="_blank">
                    <img src="https://www.finest-trachten.info/images/itunes.jpg" alt="Lade die Finest Trachten iOS App bei iTunes" class="w-100">
                </a>
                <a class="d-block w-50 mr-auto mb-2" title="Lade die Finest Trachten Android App bei Google Play" href="https://play.google.com/store/apps/details?id=com.shopgate.android.app11080" target="_blank">
                    <img src="https://www.finest-trachten.info/images/playstore.jpg" alt="Lade die Finest Trachten Android App bei Google Play" class="w-100">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
                <div class="h5">Schnell gefunden für Damen</div>
                <ul class="list-unstyled text-sm m-0">
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-damen/dirndl-nach-farbe/">Dirndl nach FARBE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-damen/dirndl-nach-groesse/">Dirndl nach GRÖßE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-damen/dirndl-nach-laenge/">Dirndl nach LÄNGE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-damen/dirndlbluse-nach-farbe/">Bluse nach FARBE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-damen/dirndlbluse-nach-groesse/">Bluse nach GRÖßE finden</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
                <div class="h5">Schnell gefunden für Herren</div>
                <ul class="list-unstyled text-sm m-0">
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-herren/lederhose-nach-groesse/">Lederhose nach GRÖßE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-herren/lederhose-nach-laenge/">Lederhose nach LÄNGE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-herren/trachtenhemd-nach-groesse/">Hemd nach GRÖßE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-herren/trachtenhemd-nach-farbe/">Hemd nach FARBE finden</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" href="/schnell-gefunden-herren/weste-nach-groesse/">Weste nach GRÖßE finden</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
                <div class="h5">Unsere Zahlarten</div>
                <img src="https://www.finest-trachten.info/images/payment-methods.jpg" alt="Unsere Zahlarten" class="w-100">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
                <div class="h5">Datenschutz nach DSGVO</div>
                <a title="Datenschutz" href="{% Link(12) %}">
                    <img src="https://www.finest-trachten.info/images/datenschutz.jpg" alt="Datenschutz nach DSGVO" class="w-50 mb-2 pr-2 float-left">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
                <div class="h5">Social Media</div>
                <ul class="list-unstyled text-sm m-0">
                    <li class="mb-1"><a class="text-muted text-uppercase" title="Facebook" href="https://www.facebook.com/Finest-trachtende-199748796742010/" target="_blank"><i class="fab fa-facebook-square"></i>  Facebook</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" title="Youtube" href="https://www.youtube.com/channel/UCqvrncrDtnr78KwnIWtNw8w/videos?view=0&shelf_id=0&sort=dd" target="_blank"><i class="fab fa-youtube"></i>  Youtube</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" title="Pinterest" href="https://www.pinterest.de/finesttrachtend/" target="_blank"><i class="fab fa-pinterest"></i>  Pinterest</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" title="Instagram" href="https://www.instagram.com/finesttrachten/" target="_blank"><i class="fab fa-instagram"></i>  Instagram</a></li>
                    <li class="mb-1"><a class="text-muted text-uppercase" title="Google Plus" href="https://plus.google.com/+Finest-trachtenDe" target="_blank"><i class="fab fa-google-plus-g"></i>  Google +</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<copyright>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="w-100 my-3 text-center">&copy; 2018 Finest Trachten GbR - All rights reserved.</p>
            </div>
        </div>
    </div>
</copyright>
